.root {
    -fx-text-base-color: rgb(252.0, 240.0, 237.0);
    -fx-text-fill: -fx-text-base-color;
     
     -dark: rgb(47.0, 52.0, 57.0);
     -fx-background-color: -dark;
    
    /*default font */
    -fx-font-family: 'Helvetica Neue';
    -fx-font-size: 25.0px;
    -fx-font-weight: 600;
    -fx-disabled-opacity: 0.6; 
    
    -flatter-red: rgb(237.0, 68.0, 37.0);
    -flatter-blue: rgb(0.0, 184.0, 222.0);
}

.mnemonic-underline {
    -fx-stroke: transparent;
}

.text {
    -fx-font-smoothing-type: lcd;
}

.emoji-text {
    -fx-fill: -fx-text-base-color;
}

/**** size variants **********************************************************/
.size-variant-touch {
    -fx-font-size: 9.0;
}

.size-variant-desktop {
    -fx-font-size: 16.0;
}

/*******************************************************************************
 *                                                                             *
 * Label                                                                       *
 *                                                                             *
 ******************************************************************************/

.label {
    -fx-text-fill: -fx-text-base-color;
}

.label:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.label:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-base-color;
} 

.label-green{
    -fx-text-fill: rgb(9, 237, 28);
}

.label-yellow{
    -fx-text-fill: rgb(255, 235, 40);
}

.label-red{
    -fx-text-fill: rgb(255, 12, 53);
}

.text {
    -fx-effect:dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.2), 0.0, 0.0, 0.0, 1.0); 
}

/*******************************************************************************
 *                                                                             *
 * Button & ToggleButton                                                       *
 *                                                                             *
 ******************************************************************************/
 
.toggle-button, .button{
    -fx-background-color: -flatter-red;
    -fx-background-insets:  0.0;
    -fx-background-radius: 10.0;
    -fx-border-width: 0.0;
    -fx-padding: 0.7em;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:hover{
    -fx-background-color: derive(-flatter-red, 40.0%);
}

.title-button{
    -fx-background-color: rgb(96.0, 107.0, 118.0);
    -fx-font-size: 15.0px;
}

.title-button:hover{
    -fx-background-color: rgb(96.0, 107.0, 118.0);
}

.small-button{
    -fx-font-size: 11.0px;
}

.upgrade-button{
    -fx-font-size: 15.0px;
}

.user-message-red, .user-message-red:hover{
    -fx-background-color: transparent;
    -fx-text-fill: rgb(255, 12, 53);
    -fx-font-size: 30.0px;
}

.user-message-green, .user-message-green:hover{
    -fx-background-color: transparent;
    -fx-text-fill: rgb(9, 237, 28);
    -fx-font-size: 30.0px;
}

 
/*******************************************************************************
 *                                                                             *
 * TextField & TextArea                                                        *
 *                                                                             *
 ******************************************************************************/

.text-area , .text-field {
    -fx-background-color: white;
    -fx-background-insets:  0.0;
    -fx-background-radius: 2.0;
    -fx-padding: 0.7em;
    -fx-border-width: 0.0;
    -fx-prompt-text-fill: derive(-dark, 50.0%);
    -fx-highlight-fill: rgb(94.0, 203.0, 234.0);
}

.text-area .text, .text-field > * > .text {
    -fx-effect: null; 
    -fx-fill: -dark;
}

.text-area {
    -fx-padding: 0.15em;
}

.text-area .content {
    -fx-padding: 0.7em;
    -fx-border-width: 0.0;
    -fx-background-color: transparent;
}

.text-area:focused  .content {
     -fx-background-color: transparent;
}